<div class="header">
  <h2>Chat</h2>
  <a href="/passwordResetForm" class="change-password-btn">Change password</a>
</div>
<hr>
<input type="text" id="message">
<button class="send-message-button">Send</button>
<div id="messages"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
