<div class="background-class">
    <br><br><br><br>
<form action="api/sessions/login" method="post">
    <div class="name">
    <input  type="text" name="name" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="loginStrategy" value="jwt" hidden>
    <br><br>
    <input class="login" type="submit" value="Login">
    {{#if error}}
        <div style="font-weight: bolder; color: red;">{{error}}</div>        
    {{/if}}
    </div>
</form>
<br><br>
</div>


