<h2>Reset your password</h2>
<hr>
<form action="api/sessions/passwordReset" method="post">
    <input type="email" name="email" placeholder="email">
    <br><br>
    <input type="submit" value="Reset password">
</form>
<br><br>
{{>menu}}