<h2>Users</h2>
<hr>
<h3>Users data</h3>
<p>Name: <strong>   {{user.name}}</strong></p>
<p>email: <strong>{{user.email}}</strong></p>
<p>role: <strong>{{user.role}}</strong></p>
<input type="text" name="web" value="web" hidden>
<br><br>
{{>menu}}