<h2>Registrate</h2>
<hr>
<form action="api/sessions/register" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="email" name="email" placeholder="email">
    <input type="number" name="age" placeholder="Age">
    <input type="password" name="password" placeholder="password">
    <br><br>
    <input type="submit" value="Registrate">
</form>
<br><br>
{{>menu}}


